
@{
    ViewData["Title"] = "Signin";
}

<h1>Login</h1>

<form asp-action="SubmitSignin">

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<form asp-action="Login">

    <button type="submit">Already a user? Log in</button>
</form>