

@{
    ViewData["Title"] = "Signin";
    //Video video = ViewData["Video"] as Video;
    var filepath = ViewData["filepath"];
    var filename = ViewData["filename"];
}

<h1>Show Video</h1>
<h3>@filepath</h3>
<h3>@filename</h3>

@*<h2>@video.Source</h2>*@