
@model OnlineVideoStreaming.Models.User

@{
    ViewData["Title"] = "Signin";
    var error = ViewData["Error"];
}

@*<h1>Signin</h1>*@


<form asp-action="SubmitSignin" class="auth-wrapper">
    <center>
        <heading>Signin Page</heading>
    </center>
    <p>
    <center>
        <span class="error-text"> @error</span>
    </center>
        <label>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </label>
        <input class="label-input" asp-for="Email" type="email" required />
    <br />
        <label>Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </label>
        <input class="label-input" asp-for="Password" type="password" required />
    <br />
    <label>Channel name :</label>
    <input class="label-input" asp-for="ChannelName" type="text" required />
    <br />
        <button class="submit-btn"  type="submit">Signin</button>
</form>
<hr/>
<form asp-action="Login" class="auth-wrapper">

    <button class="submit-btn" type="submit">Already a user? Log in</button>
</form>